/.vscode/
/Packages/
/Library/
/Temp/
/Logs/
/ProjectSettings/
/UserSettings/
*.sln
*.csproj
/Assets/Plugins/
/Assets/Resources/
/Assets/Scenes/
/Assets/Settings
*.inputactions
*.interp
*.tokens
*.meta
*.asset